html body{
  padding-top: 30px;
  padding-bottom: 30px;
  max-height:100%;
  max-width:100%;
  background-color: black;
  color: white;
  background-color: rgba(39, 157, 176, 0.52);
color: white;
word-spacing: 3px;
}
}

main{
  max-width: 960px;
  padding-left: 190px;
  padding-top: 30px;

}
.pic2{
  padding-left: 0px;
}
main ul{
  position: absolute;
  padding-top: 30px;
  width: 100%;
}
main ul li{
  display: inline;
  padding-left: 160px;
  max-width: 960px;
}
.fitdamnit li:last-child{
  clear: both;
}
 section{
  padding-top: 435px;
  max-width: 960px;
}
section img {
  float: left;
  width: 50%;
}
article{
  width: 50%;
  float: right;
  padding-bottom:30px;
}
article h2{
  font-size: 36px;
  padding-left: 30px;
}
article p{
  height: 260px;
  width: 95%;
  overflow: auto;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  padding-left: 30px;
}
.homeButton{
  align-items: center;
}
 .footer{
  position: relative;
  clear: both;
  margin-top: 30px;
  height: 70px;
  width: 100%;
  background-color: grey;
}
