

img{opacity: 1.0; }
p{
  text-align: center;
  font-family:'Indie Flower', cursive;
}
.contactList ul li a{text-align: center;}
.contactbody{background-color: #204C84;
  font-family: 'Indie Flower', cursive;

}
.board-game {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 84px/normal "Comic Sans MS", cursive, sans-serif;
  color: rgba(121,151,242,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 5px 5px 0 rgba(239,172,64,1) , 10px 10px 0 rgba(29,123,170,1) , 15px 14px 0 rgb(255,210,23) , 20px 20px 0 rgb(90,199,255) ;
}

h1,h2{
font-family:'Indie Flower', cursive;
text-align: center;
}
body > article
{
width: 760px;
margin: 0 auto;
}

article {
  outline: 1px solid #204C84;
  background-color: #204C84;

overflow: hidden;
width: 960%;
margin: 20px 0;
padding: 5px; }

aside {
width: 150px;
float: left; }

section {
float: right;
width: 590px; }

.banner{margin:0px; padding: 0px; opacity: 1.0;}

.banner li a{
text-decoration: none;
color:#E2D6B5;
display: block;
}
.banner li{  float: left; width: 200px; height: 25px; background-color: #204C84; font-family:'Indie Flower', cursive; font-size: 15px; line-height: 50px;  text-align: center; opacity: 0.65; padding-bottom: 25px; padding-right: 0px; }

.banner li a:hover{ background-color: orange;}
/*.enjoy-css {

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 960%;
  height: 13%;
  margin: 20px 0;
  padding: 5px;
  overflow: hidden;
  border: none;
  font: 54px 'Indie Flower', cursive;
  color: #F7C230;

  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-spacing: 2px;
  background: -webkit-linear-gradient(-90deg, rgba(249,184,4,0.27) 0, rgba(249,184,4,0.27) 25%, rgba(14,90,255,1) 100%), rgb(32, 76, 132);
  background: -moz-linear-gradient(180deg, rgba(249,184,4,0.27) 0, rgba(249,184,4,0.27) 25%, rgba(14,90,255,1) 100%), rgb(32, 76, 132);
  background: linear-gradient(180deg, rgba(249,184,4,0.27) 0, rgba(249,184,4,0.27) 25%, rgba(14,90,255,1) 100%), rgb(32, 76, 132);
  background-position: 44% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: text-shadow 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 10ms;
  -moz-transition: text-shadow 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 10ms;
  -o-transition: text-shadow 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 10ms;
  transition: text-shadow 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 10ms;
}*/
